/*选项卡*/
.layout-main{position: relative;top:0px;right:0;left:0px;width:auto;overflow:hidden;overflow-y: auto;background-color: #fff;z-index:998;height: auto;
    margin:0px;}
.layout-main-tab{height: 40px;line-height: 39px;overflow: hidden;position: relative;background: #f2f2f2;border-bottom:1px solid #eeeeee;
    margin:0;}
.layout-main-body{margin:0;position: relative;top: -10px;bottom: 0;left: 0;right: 0;overflow:hidden;z-index: 999;position: relative;
  }
.tab-nav-content a:hover,.tab-nav-content a:focus{
    text-decoration: none;
}
/*菜单选项卡*/
.tab-btn{position: absolute;width: 40px;height: 40px;text-align: center;color: #999;z-index: 2;top: 0;
    background: #f2f2f2;border: 0;outline: 0;cursor:pointer;}
.tab-btn i{font-size:20px;}
.tab-btn.btn-left{left: 0px;border-right: solid 1px #ccc;}
.tab-btn.btn-right{
    right:0px;border-left: solid 1px #ccc;}
.tab-nav{margin-left: 40px;width: 100000px;height: 40px;line-height: 40px;overflow: hidden;}
.tab-nav-content{float:left;margin-left: 0px;}
.tab-nav-content a{display:block;color: #999;cursor: auto;border-right: solid 1px #ddd;padding: 0 15px;float:left;}
.tab-nav-content a:hover{color: #333;}
.tab-nav-content a.active{color: #33AECC;background: #fff;}
.tab-nav-content a i{color:#ccc;font-size:12px;vertical-align:top;}
.tab-nav-content a i:hover{color:#FF5722;}
.tab-nav-content a.active i:hover{color: #FF5722;}
.tab-nav-content .content-tab{transition: all .3s ease-out 0s;-webkit-transition: all .3s ease-out 0s;}

.ace-settings-container{
    z-index: 1000;
}
.page-content{
    padding: 0;
}
@media(max-width:768px) {
    .layout-main-body{
        top:0;
    }

}