
/*layui下select2样式*/

.select2-selection.select2-selection{
    height :36px;
    border:1px solid #e6e6e6;
}
.select2-selection__rendered{
    line-height: 36px!important;
}
.select2-selection__arrow{
    height: 36px !important;
}
.select2-dropdown.select2-dropdown{
    border:1px solid #e6e6e6;
}